@charset "UTF-08";

*{
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /* Essa propriedade vai considerar a borda como tamanho total. */
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
}

body{
    background-color: #222438;
}

header{
    padding: 0px 2px;
    min-width: 348px;   
    
}

.navBar1{
    background-color: #202335;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    height: 40px;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: rgba(250, 248, 248, 0.534);
    gap: 16px;
    display: 10px;
}

#navBar2 ol a li {
    display: inline;
    font-size: 0.7rem;
    background-color: rgb(61, 61, 35);
    
   
}

#navBar2{
    position: relative;
    left: 15px;
}